p
{
	margin: 0px;
}

div.title
{
	float: left;
	background-color: #dddddd;
	width: 120px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

div.info
{
	float: left;
	width: 136px;
	padding: 0px;
	margin: 0px;
}

div.minions
{
	float: left;
	background-color: #ffdddd;
	width: 80px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

div.center
{
	width: 600px;
	margin: auto;
}

div.box
{
	background-color: #eeeeee;
	margin-bottom: 6px;
	border: 3px solid #666666;
	padding: 10px;
}

div.header
{
	padding: 10px;
	padding-bottom: 0px;
	text-align: right;
	font-size: 25px;
}

.button
{
  background-color: #666666;
  border: none;
  color: white;
  padding: 4px 10px;
	margin:2px;
  text-align: left;
  font-size: 16px;
	width: 136px;
}

.left
{
	float: left;
}

.bigButton
{
	width: 300px;
	height: 90px;
	text-align: center;
}

.buttonDeactivated
{
	background-color: #222222;
}

button:active
{
	background-color: #454545;
}

.buttonNotAvailable
{
	background-color: #442222;
}

.buttonPresence
{
	background-color: #224422;
}

.hidden
{
	display: none;
}

.item
{
	background-color: #cfdfff;
	width: 128px;
	height: 45px;
	padding: 4px;
	margin: 2px;
	float: left;
}

body
{
	background-color: #0f4160;
	background-image: url(image/background.png), url(image/repeat.png);
	background-position: center top, top;
	background-repeat: no-repeat, repeat-x;
}
